# =============================================================================
# Docker Compose file for testing on Go versions 1.16 to the latest.
# =============================================================================
# It is recommended to run specifying a specific Go version and not at once.
#
# Since the service `tidy` will update/re-write the "go.mod" file to the latest
# version, during it's process the "go.mod" file will be gone temporarily. Thus,
# it will cause failure in the other container because of missing "go.mod" file.
#
# - Recommended usage:
#     $ docker-compose --file ./.github/docker-compose.yml run latest
# - To update go.mod:
#     $ docker-compose --file ./.github/docker-compose.yml run tidy
# - **NOT** recommended to run all tests at once whith "up":
#     $ docker-compose --file ./.github/docker-compose.yml up
# =============================================================================

volumes:
  GO_PKG_MOD:
  TEST_DATA:

services:
  # Service tidy updates the go.mod to the latest
  tidy:
    build:
      context: ..
      dockerfile: ./.github/Dockerfile
      args:
        VARIANT: alpine
    volumes:
      - ..:/workspaces
      - TEST_DATA:/workspaces/cl/testdata
    entrypoint: [ "./.github/run_go_mod_tidy.sh" ]
  # Service min runs the tests on minimum supported Go version
  min:
    build:
      context: ..
      dockerfile: ./.github/Dockerfile
      args:
        VARIANT: 1.24-alpine
    volumes:
      - ..:/workspaces
      - GO_PKG_MOD:/go/pkg/mod
      - TEST_DATA:/workspaces/cl/testdata
  # Service latest runs the tests on latest Go docker image
  latest:
    build:
      context: ..
      dockerfile: ./.github/Dockerfile
      args:
        VARIANT: alpine
    volumes:
      - ..:/workspaces
      - GO_PKG_MOD:/go/pkg/mod
      - TEST_DATA:/workspaces/cl/testdata
