# This workflow runs the unit test (`go test ./...`) on vaious platforms,
# such as: Linux, macOS and Windows.
name: Test on macOS/Win/Linux

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  coverage:
    name: Platform test

    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1'
          check-latest: true

      - name: Download Modules
        run: go mod download

      - name: Run unit tests
        run: |
          go generate ./...
          go test -race ./...

      - name: Cleanups
        run: rm -rf ./cl/testdata/data_*.txt
